<%- include('partials/head') %>
<%- include('partials/navbar') %>

    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta nostrum, dolorem, officiis maiores id vitae, excepturi illo autem ipsam itaque magni aliquam totam a mollitia libero quam sunt delectus fugit!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae dicta, veritatis commodi impedit quod architecto expedita quidem doloremque. Laborum repudiandae maiores nulla ipsam minima? Sunt illum eveniet magnam aperiam recusandae?</p>

<%- include('partials/footer') %>